.about {
  position: relative;
  padding: 4rem 0;
  background: var(--offWhite);
  z-index: 0;
}

.about-info {
  margin-top: 3rem;
  z-index: 10;
}
.about-img {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-top: 2rem;
}

.about-img img {
  display: block;
  border-radius: 50%;
}
.about-info h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  margin: 5px 0;
}

.about-info h5 {
  letter-spacing: 2px;
}

.bio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  background: var(--mainWhite);
  padding: 1rem 2rem;
  box-shadow: var(--lightShadow);
}

.bg-pattern {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../images/waves-dark.png") no-repeat right;
  background-position-y: bottom;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.review-headline {
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .bio {
    display: block;
    padding-bottom: 2rem;
  }
  .reviews {
    display: block;
  }
  .review-headline {
    font-size: 1.5rem;
  }
}
