.about {
  padding: 4rem 0;
  background: url("../images/so-white.png") repeat;
}
.about-center {
  width: 80vw;
  margin: 0 auto;
}
.about-img {
  margin: 3rem 0;
}
.about-info {
  margin-top: 3rem;
}
.about-img {
  position: relative;
}

.about-img img {
  display: block;
  border-radius: 10px;
}
.about-info h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about-img,
  .about-info {
    margin: 0;
  }

  .img-container {
    max-height: 600px;
    max-width: 320px;
    margin-bottom: 1.5rem;
  }
  .about-info p {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 3rem;
    align-items: center;
    margin-top: 3rem;
    width: 95vw;
    max-width: 1170px;
  }
}
