.flex {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.calculator {
  background: var(--mainWhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0.3rem;
  width: 350px;
  box-shadow: 15px 20px 70px -10px;
}

.calc-body {
  padding: 2rem;
}

#cta {
  padding: 1rem;
  font-size: 14px;
}

.borrow {
  text-align: left;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.header {
  background: var(--mainGrey);
  color: var(--primaryColor);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1rem;
}

.footer {
  padding: 1rem;
}
.footer p {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  .calculator {
    margin: 0 auto;
    position: relative;
  }
  .calc-body {
    padding: 1rem;
  }
  .borrow {
    white-space: normal;
  }
}

@media screen and (max-width: 500px) {
  .calculator {
    top: 60px;
    width: 330px;
  }
}
