.featured-in {
  background: var(--mainGrey);
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
}
.featured {
  background: var(--mainWhite);
  padding: 2rem 0;
  text-align: center;
  margin: 1rem 0 2rem;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .logo {
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  .logos {
    flex-wrap: wrap;
  }
}
