.copyright {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-top: 1rem;
  font-size: 14px;
}

.container {
  max-width: 1170px;
  width: 85vw;
  margin: 0 auto;
}
.disclaimers {
  border-top: 1px solid var(--mainGrey);
  border-bottom: 1px solid var(--mainGrey);
  padding-bottom: 1rem;
  line-height: 20px;
  letter-spacing: var(--mainSpacing);
}

.disclaimers p {
  font-size: 14px;
}

.footer {
  margin-top: auto;
  background: var(--mainBlack);
  padding: 3rem 1.75rem;
  color: var(--mainWhite);
}

.icons a {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.3rem;
  color: var(--mainWhite);
  transition: var(--mainTransition);
}

.icons a:hover {
  opacity: 0.7;
}

.links {
  display: flex;
  flex-direction: column;
}
.links a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--mainWhite);
  margin-bottom: 2rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  font-size: 12px;
}
.links a:hover {
  opacity: 0.7;
}
.logo {
  width: 200px;
}

.row {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .copyright {
    font-size: 12px;
    text-align: left;
    margin: 1rem auto 0 0;
  }
  .links,
  .icons {
    text-align: center;
    margin: 1rem 0;
  }
  .logo {
    margin-bottom: 2rem;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
