.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  min-height: 80vh;
  max-width: 1170px;
}

.intro {
  text-align: left;
}
.intro h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.intro h2 {
  padding: 0 1rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.intro a {
  margin-left: 1rem;
}

.calc-wrapper {
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  .intro h1 {
    font-size: 1.5rem;
  }
  .intro h2 {
    font-size: 1rem;
  }
  .calc-wrapper {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .calc-wrapper {
    display: none;
  }
  .intro {
    text-align: center;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .landing {
    padding: 2rem 0;
  }
  .intro h1 {
    font-size: 1.5rem;
  }
  .intro h2 {
    font-size: 1rem;
  }
}
