.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem 0.5rem;
}

.logo {
  max-width: 220px;
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: var(--mainWhite);
  font-size: 1.5rem;
}

.navbar {
  background: url("../images/background.jpg");
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-nav {
  height: 280px;
}
.show-call {
  height: 60px !important;
  color: var(--offWhite);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
}
.show-call svg {
  display: none;
}
.show-call a {
  color: var(--offWhite);
}
.nav-links a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--offWhite);
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}
.nav-links a:hover {
  opacity: 0.5;
}
.nav-call-now {
  overflow: hidden;
  height: 0;
}
@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .logo {
    width: 275px;
  }
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .nav-call-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    color: var(--offWhite);
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 14px;
    height: 60px;
  }
  .nav-call-now a {
    color: var(--mainWhite);
    font-size: 1rem;
  }
}
