.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem 0.5rem;
}

.logo {
  max-width: 220px;
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: var(--mainWhite);
  font-size: 1.5rem;
}

.navbar {
  background: url("../images/background.jpg");
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-nav {
  height: 280px;
}
.nav-links a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--offWhite);
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}
.nav-links a:hover {
  color: var(--darkGrey);
}
.nav-social-links {
  display: none;
}
@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .logo {
    width: 275px;
  }
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: var(--mainWhite);
    margin: 0 0.3rem;
    font-size: 1.5rem;
    transition: var(--mainTransition);
  }
  .nav-social-links a:hover {
    color: var(--darkGrey);
    transform: translateY(-3px);
  }
}
