.center {
  width: 80vw;
  margin: 0 auto;
}

.products-list {
  background: var(--offWhite);
  padding: 4rem 1rem;
}

@media screen and (min-width: 1200px) {
  .center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    margin-top: 3rem;
    width: 95vw;
    max-width: 1170px;
  }
}
