.review-card {
  background: var(--mainWhite);
  padding: 1rem;
  box-shadow: var(--lightShadow);
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.star {
  color: #00b67a;
  font-size: 1rem;
}

.stars {
  margin-bottom: 0.4rem;
}

.review-card h5 {
  margin-bottom: 0;
}

.logo {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .review-card {
    margin-bottom: 10px;
  }
  .row {
    grid-template-columns: 1fr;
  }
}
