.services {
  background: var(--mainWhite);
  padding: 4rem 0;
}
.center {
  max-width: 80vw;
  margin: 0 auto;
}

.service-a,
.service-b {
  display: grid;
  grid-gap: 2rem;
  background: var(--mainGrey);
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: var(--lightShadow);
  border-radius: 10px;
}
.service-a {
  grid-template-columns: 340px auto;
}

.service-b {
  grid-template-columns: auto 340px;
}

.service-title {
  text-align: center;
  margin: 5px 0;
}

.service-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.service-body:nth-child(odd) {
  align-items: flex-end;
  text-align: right;
}

.title {
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .center {
    max-width: 90vw;
  }
  .service-a,
  .service-b {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
  }
  .service-b {
    flex-direction: column-reverse;
  }
  .service-title {
    padding: 10px;
  }
  .service-body,
  .service-body:nth-child(odd) {
    align-items: center;
    text-align: center;
  }
}
