.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background: var(--mainWhite);
  box-shadow: var(--lightShadow);
}

.video h3 {
  color: var(--primaryColor);
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}

.iframe {
  position: relative;
  max-height: 500px;
  height: 300px;
  max-width: 650px;
  width: 100%;
  padding: 0 3rem;
}

@media screen and (max-width: 500px) {
  .video {
    padding: 0;
    margin-top: 1rem;
  }
  .video h3 {
    font-size: 1rem;
  }
  .iframe {
    padding: 0;
  }
}
